html {
    background-color: #F6F8F5;
    font-family: 'Futura', sans-serif;
}

/* Header Styling */

header {
    margin-left: 20px;
}

h1 {
    color: #D55957;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 1px 1px grey;
}

h2 {
    color: #444370;
    line-height: 0px;
    font-weight: bold;
    font-size: 18px;
}

/* Section (Main Body) Styling */

.intro {
    display: block;
    width: 80%;
    background-color: #F2AD85;
    color: #444370;
    border-radius: 5px;
    padding: 5px;
    font-size: 22px;
    text-align: center;
    margin-left: auto;   
    margin-right: auto; 
    margin-top: 40px;
    box-shadow: 3px 3px grey;
}

#button {
    display: block;
    margin-left: auto;   
    margin-right: auto; 
    height: 55px;
    width: 210px;
    background-color: #444370;
    color: #D584B4;
    border-radius: 5px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    box-shadow: 5px 5px 4px black;
    transition: background-color box-shadow 1s;

}

#button:hover {
    background-color:#D55957;
    box-shadow: 0px 0px;
    cursor: pointer;
}

#button:active {
    background-color: #D584B4;
    color: #444370;
    box-shadow: 5px blue;
}

#button p {
    margin: 0, auto;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.item {
    width: 250px;
    height: 400px;
    text-align: center;
}

.title {
    width: 150px;
    height: 30px;
    background-color:#F2AD85;
    border-radius: 5px;
    margin-left: auto;   
    margin-right: auto;
}

.image {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;   
    margin-right: auto; 
    border: 1px black solid;
}

img {
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.name {
    width: 175px;
    height: 50px;
    background-color: #D584B4;
    margin-left: auto;   
    margin-right: auto; 
    font-size: 26px;
}
